.container{
    width: 400px;
    height: 350px;
    margin-top: -194;
    margin-right: 1000px;
    float: right;
    background-color: white;
    width: 390px;
    height: 355px;
    text-align: center;
}
.form{
    width: 350px;
    padding: 3rem 1.5rem;
    background-color: rgb(250, 249, 249);

}
.form input{
    width: 0px;
    height: 5px;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 17px;
    width: 332px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(211, 210, 210);

   
}
button{
    margin-top: 15px;
    margin-left: -10px;
      margin-right: -10px;
    background-color: rgb(52, 196, 52);
    padding:  15px;
    width: 106%;
    color:white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(52, 196, 52);

   
}
h1{
    font-family: sans-serif;
  font-size: 70px;
  color: green;
  line-height:  10px;
}