.container{
    width: 400px;
    height: 350px;
    margin-top: -194;
    margin-right: 160px;
    float: right;
    background-color: white;
    width: 390px;
    height: 355px;
    text-align: center;
}
.form{
    width: 350px;
    padding: 3rem 1.5rem;
    background-color: rgb(243, 240, 240);

}
.form input{
    width: 0px;
    height: 5px;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 17px;
    width: 332px;
    background-color: white;
}
button{
    margin-top: 15px;
    margin-left: -10px;
      margin-right: -10px;
    background-color: rgb(52, 196, 52);
    padding:  15px;
    width: 106%;
    color:white;
   
}
h1{
 color:green;
}